/* Add these styles to Frame.css */
.splitter-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.splitter-panel-left {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: auto;
}

.splitter-panel-right {
  flex: 1;
  overflow: auto;
  
}

/* Add other styles as needed */
